// Color Variable
$accordion-icon-bg-color: #e6c442;
$accordion-open-header-bg-color: #a9a9a9;

.accordion {
  color: #444;

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.open {
      background-color: $accordion-open-header-bg-color;
    }

    &-label {
      display: flex;
    }
  }

  .border {
    border-bottom: 2px solid black;
  }

  &-icon-svg {
    vertical-align: super;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 20px;
    height: 20px;

    &.open{
      transform: rotate(45deg);
    }
  }

  &-id {
    display:inline-block;
    margin-right: 20px;
    padding: 0 15px;
    font-size: 26px;
  }

  &-question {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  &-icon {
    padding: 0.8rem;
    background-color: $accordion-icon-bg-color;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 15px;
  }
}
